:root {
	--blue: #0188b2;
	--black: rgb(43, 43, 43);
	--orange: #ffca4d;
	--dark-orange: #f5880b;
	--darker-orange: #af6107;
	--light-gray: rgb(226, 226, 226);
	--mid-gray: rgb(143, 143, 143);
	--primary: #f1c40f;
	--secondary: #34495e;
	--cream: #fff9ea;
	/* font-size: 16px; */
}

.main-container .visible-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.presentation {
	max-width: 100%;
	object-fit: fill;
	margin-bottom: 1rem;
}
.case {
	display: flex;
	flex-direction: column;
}

.case-head {
	padding: 1rem 1rem 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

.h-sup {
	color: gray;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}
.case-title {
	color: var(--blue);
	line-height: 120%;
	margin-bottom: 1rem;
	font-weight: 600;
}

.case-info {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.info-cell {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	border-left: 0.4rem solid var(--primary);
	margin-top: 1rem;
	background-color: var(--cream);
}

.block-title {
	color: var(--secondary);
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.info-cell-list {
	padding-left: 0.5rem;
	list-style: none;
}

.case-logo {
	max-width: 100%;
	object-fit: fill;
	margin-top: 1rem;
}
.case-img {
	max-width: 100%;
	object-fit: fill;
}

.block-row {
	display: flex;
	flex-direction: column;
}

.padd {
	padding: 1rem;
}

.padd-left-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.padd-left-4 {
	padding-left: 4rem;
	padding-right: 4rem;
}

.padd-bot-1 {
	padding-bottom: 1rem;
}

.text {
	line-height: 150%;
	margin-bottom: 1rem;
}

.section-title {
	color: var(--primary);
	padding-top: 3rem;
}

.download {
	text-decoration: none;
	color: var(--blue);
	padding-top: 0;
}

.phase-title {
	color: white;
	background-color: var(--primary);
	margin-top: 3rem;
}

.cards,
.cards-row-2,
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	padding: 1rem 2rem;
	border-bottom: var(--light-gray) 2px solid;
}

.card p {
	margin: 1rem;
}

.cards-row-2:last-child .card:last-child {
	border: none;
}

.card-icon {
	max-width: 250px;
	height: auto;
}

#projs{
	justify-content: space-between;
	padding-left: 0;
	padding-right: 0;
}
#projs .project{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.card-header {
	padding: 1rem;
}

@media only screen and (min-width: 800px) {
	body {
		background-color: rgb(198, 228, 252);
		background-color: var(--black);
		/* background-color: moccasin; */
		/* background-color: var(--primary); */
	}
	.main-container {
		padding: 2rem;
		background-color: white;
		max-width: 1248px;
		margin: auto;
		/* border: var(--light-gray) 2px solid; */
	}
	.case-info {
		flex-direction: row;
		justify-content: space-around;
	}
	.info-cell {
		width: 31%;
	}

	.block-row div {
		max-width: 45%;
	}
	.block-row {
		justify-content: space-between;
		flex-direction: row;
		margin-top: 3rem;
	}

	.cards {
		padding-top: 3rem;
	}
	.cards-row-2 {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	.card {
		border: none;
		width: 48%;
	}
	.card img {
		width: 249px;
		height: 154px;
	}
	.card p {
		margin: 0;
		text-align: center;
	}
}

@media only screen and (min-width: 1024px) {
}
