@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: red 1px solid; */
	cursor: url(../img/mouse.png), auto;
}

img {
	pointer-events: none;
}

a {
	text-decoration: none;
	color: black;
}
.main-container {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	font-family: Noto Sans;
}
.nav {
	width: 23%;
	height: 100%;
	position: fixed;
	background-color: white;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-left: 3vw;
	padding-top: 3vh;
	box-shadow: 0.2vw 0px 0.4vw rgba(0, 0, 0, 0.1);
	/* display: none; */
}
.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	/* background-color: orange; */
}
.clear-content {
	width: 23%;
	height: 100%;
	background-color: white;
}
.visible-content {
	max-width: 77%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
}
.logo {
	width: 10vw;
	/* position: absolute; */
}
.name {
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 130%;
	margin-top: 1vh;
	color: #7c7d81;
}
.job {
	font-style: normal;
	font-weight: bold;
	font-size: 1.1vw;
	margin-top: 0.5vh;
	color: #7c7d81;
}
.nav-links {
	margin-top: 10vh;
}
.nav-links ul {
	text-decoration: none;
	font-weight: 900;
	font-size: 1.2vw;
	list-style: none;
}
.nav-links ul .current a {
	text-decoration: underline;
	color: #3f5cb2;
	/* color: red; */
}

.nav-links ul li a {
	color: #353535;
	margin-top: 2vh;
}
.nav-links ul li {
	margin-top: 2vh;
}

.hero {
	width: 77vw;
	background-color: white;
	height: 40vh;
	box-shadow: 0px 3px 0px #e6e5e3;
	display: flex;
	align-items: center;
}

.intro {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 8vw;
}

.intro h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 2vw;
	color: #484445;
}
.intro h4 span {
	color: #03a1c3;
}

.intro p {
	font-size: 1.006vw;
	line-height: 150%;
	margin-top: 1vw;
}

.presentation {
	width: 100%;
}

/* 320px — 480px: Mobile devices. */
@media only screen and (max-width: 480px) {
}

/* 481px — 768px: iPads, Tablets. */
@media only screen and (max-width: 768px) {
}

/* 769px — 1024px: Small screens, laptops. */
@media only screen and (max-width: 1024px) {
}

/* 1025px — 1200px: Desktops, large screens. */
@media only screen and (max-width: 1200px) {
}

/* 1201px and more — Extra large screens, TV. */
@media only screen and (max-width: 1024px) {
}
