@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: red 1px solid; */
}
a {
	text-decoration: none;
	color: black;
}
.main-container {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	font-family: Noto Sans;
}
.nav {
	width: 23%;
	height: 100%;
	position: fixed;
	background-color: white;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-left: 3vw;
	padding-top: 3vh;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
	/* display: none; */
}
.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	/* background-color: orange; */
}
.clear-content {
	width: 23%;
	height: 100%;
	background-color: white;
}
.visible-content {
	width: 77%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
}
.logo {
	width: 10vw;
}
.name {
	font-style: normal;
	font-weight: normal;
	font-size: 1vw;
	line-height: 130%;
	margin-top: 1vh;
	color: #7c7d81;
}
.job {
	font-style: normal;
	font-weight: bold;
	font-size: 1.1vw;
	margin-top: 0.5vh;
	color: #7c7d81;
}
.nav-links {
	margin-top: 10vh;
}
.nav-links ul {
	text-decoration: none;
	font-weight: 900;
	font-size: 1.3vw;
	list-style: none;
}
.nav-links ul .current a {
	text-decoration: underline;
	color: #3f5cb2;
	/* color: red; */
}

.nav-links ul li a {
	color: #353535;
	margin-top: 2vh;
}
.nav-links ul li {
	margin-top: 2vh;
}

.presentation {
	width: 100%;
}
