:root {
	--primary: #265b8f;
	--cream: #b4dcfd;
	--secondary: --black;
}

.presentation{
	margin-top: 2rem;
}

.download{
	margin-top: 2rem;
}

@media only screen and (min-width: 800px) {
	body {
		background-color: #b0dfff;
	}
	.block-row {
		margin-top: 0;
	}
}
